# Individual Planning Report

DSCI 100 003  
Wendy Liao, Group 16

In [1]:
library(tidyverse) 
library(repr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## 1. Data Description 

- There are 2 different data files: 1. Sessions 2. Players 

### 1. **Sessions**

- Total 5 variables
- 1535 observations
- every observation is a full observation (no "N/A")

| Variable               | Data Type |           Meaning                                     |
| -----------------------| --------- |-------------------------------------------------------|
|hashedEmail             |   chr     | participant email that has been hashed                | 
|start_time              |   chr     |participant start time in 24 hour clock and dd/mm/yyyy |
| end_time               |   chr     |participant end time in 24 hour clock  and dd/mm/yyyy  |
|original_start_time     |   dbl     |participant UNIX timestamp of date and time started     |
|original_end_time_time  |   dbl     |participant UNIX timestamp of date and time ended       | 

- **Issues**
    1. variable name hashedEmail is not in snake_case
    2. start_time has 2 variables recorded seperately: date and time (e.g. 30/06/2024 18:12)
    3. end_time has 2 variables2 variables recorded seperately: date and time (e.g. 30/06/2024 18:24)
    4. start_time and end_time are chr, depending on question, may have to turn into dbl 

### 2. **Players**

- total 7 variables
- total 196 observations (participants)
- one of the Age observations contains an "NA"

  
| Variable  | Data Type | Meaning|
| --------- | --------- |--------|
|experience | chr  |participant level of experience in Minecraft (Beginner, Amateur, Regular, Veteran,Pro)| 
|subscribe  |  lgl |whether or not (True/False) participant is subscribed to game-related newsletter|
|hashedEmail|chr|participant email that has been hashed |
| played_hours| dbl |hours played in Minecraft  |
|name  |   chr  |  Participant name |
|gender|chr|Gender of participant |
|Age | dbl |participant age|

- **Issues**
    1. variable name hashedEmail is not in snake_case
    2. Age variable is not in snake_case (very small issue, however, inconsistent)
    3. "NA" in Age variable 
       
<br>

- **Summary Statistics**


| Variable      | Mean    | Min | Max |
| ------------- | ------- | --- | --- |
| played_hours  | 5.85    |0    |223.1|
| Age           |  21.14  | 9   | 58  |

| Variable | # of True | # of False |
| -------- | --------- | ---------- |
| subscribe| 144       | 152        |

| Variable      | Beginner | Amateur | Regular | Pro | Veteran |
| ------------- | -------  | ------- | ------- | --- | ------- |
| played_hours  |  35      |  63     |  36     | 14  | 48      |

In [5]:
sessions <- read_csv("sessions.csv") 
players <- read_csv("players.csv")

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [23]:
played_hours_summary <- players |>
    select(played_hours) |>
    summarize( min_played_hours = min(played_hours), 
               max_played_hours = max(played_hours),
               mean_played_hours = mean(played_hours)) 
played_hours_summary

ages_summary <- players |>
    select(Age) |>
    summarize( min_age = min(Age, na.rm = TRUE), 
               max_age = max(Age, na.rm = TRUE),
               mean_age = mean(Age, na.rm = TRUE)) 
ages_summary

subscribe_summary <- players |>
    select(subscribe, hashedEmail) |>
    group_by(subscribe = as_factor(subscribe)) |>
    summarize(count = n())
subscribe_summary

experience_summary <- players |>
    select (experience, hashedEmail) |>
    group_by(experience = as_factor(experience)) |>
    summarize(count = n()) 
experience_summary

  min_played_hours max_played_hours mean_played_hours
1 0                223.1            5.845918

  min_age max_age mean_age
1 9       58      21.13918

  subscribe count
1 FALSE      52
2 TRUE      144

  experience count
1 Pro        14
2 Veteran    48
3 Amateur    63
4 Regular    36
5 Beginner   35